* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

#header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #708598; }
  #header_row_1 {
    height: 32px;
    background-color: #FAFBFC;
    border-bottom: 1px solid #ECEFF1; }
    #header_row_1 a {
      text-decoration: none;
      color: #708598; }
      #header_row_1 a:hover {
        color: black; }
    #header_row_1 .area {
      display: flex;
      align-items: center; }
    #header_row_1 .menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex; }
      #header_row_1 .menu .menu_item a {
        margin-left: 24px;
        display: flex;
        align-items: center; }
  #header_row_2 {
    height: 76px;
    background-color: #FFF;
    border-bottom: 1px solid #ECEFF1; }
    #header_row_2 .button {
      height: 40px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #050F19;
      padding: 0 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center; }
    #header_row_2 .button_catalog {
      background: #FED83D; }
    #header_row_2 .button_list {
      background: #FAFBFC;
      border: 1px solid #ECEFF1; }
    #header_row_2 #searcher {
      position: relative;
      font-family: Open Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px; }
      #header_row_2 #searcher input {
        height: 40px;
        width: 526px;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding-left: 14px;
        padding-right: 40px;
        border: 1px solid #ECEFF1;
        border-radius: 4px; }
        #header_row_2 #searcher input::placeholder {
          color: #708598;
          font-family: Open Sans;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px; }
      #header_row_2 #searcher:after {
        position: absolute;
        content: '';
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        background-image: url(../images/scope.svg); }
      #header_row_2 #searcher .autocomplete {
        display: none;
        position: absolute;
        padding: 4px 0;
        background: #FAFBFC;
        border: 1px solid #ECEFF1; }
      #header_row_2 #searcher .active {
        display: block; }
      #header_row_2 #searcher .autocomplete_item {
        padding: 4px 16px;
        cursor: pointer; }
        #header_row_2 #searcher .autocomplete_item:hover {
          background-color: #e9e9e9; }
    #header_row_2 .avatar {
      background: #9B51E0;
      color: #FFFFFF;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
  #header .container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 85px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #header .icon_chevron {
    margin-left: 2px;
    width: 18px;
    height: 18px;
    background-image: url(../images/chevron.svg); }
  #header .icon_menu {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background-image: url(../images/menu.svg); }
  #header .icon_list {
    margin-right: 8px;
    width: 21px;
    height: 25px;
    background-image: url(../images/list.svg); }
  #header .icon_area {
    width: 14px;
    height: 16px;
    margin-right: 8px;
    background-image: url(../images/marker.svg); }

/*# sourceMappingURL=main.css.map */
